.aboutMe_div{
    grid-area: aboutMe;
    background-color: rgb(255, 255, 255);
}

.aboutMe_div h1{
    grid-area: about;
    display: inline-block;
    background-color: rgb(92, 138, 255);
    color: rgb(255, 255, 255);
    border-radius: 0px 15px 15px 0px;
    padding-right: 30px;
    padding-left: 4px;
    margin-top: 20px;
    font-family: 'Alata', sans-serif;
    padding-bottom: 2px;
    width: 164px;
    height: 36px;
}

.aboutMe_div h1:hover{
    animation-name: efectoh1X;
    animation-duration: 1s;
}

@keyframes efectoh1X{
    0%{transform: translateX(0px);}
    20%{transform: translateX(10px);}
    40%{transform: translateX(0px);}
    60%{transform: translateX(5px);}
    80%{transform: translateX(0px);}
    90%{transform: translateX(2px);}
    100%{transform: translateX(0px);}
}

.aboutMe_div{
    display: grid;
    grid-template-areas: 
    "about about about"
    "datos1 imagenn datos2"
    "info info info";
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 60% 30%;
}

.imgMia{
    width: 100%;
    height: 50%;
    align-self: center;
    margin-top: 50%;
}

.imagenn{
    grid-area: imagenn;

}

.datos1{
    grid-area: datos1;
}

.datos2{
    grid-area: datos2;
}