.aboutMe_div{
    grid-area: aboutMe;
    background-color: rgb(255, 255, 255);
}

.aboutMe_div h1{
    display: inline-block;
    background-color: rgb(92, 138, 255);
    color: rgb(255, 255, 255);
    border-radius: 0px 15px 15px 0px;
    padding-right: 30px;
    padding-left: 4px;
    margin-top: 20px;
    font-family: 'Alata', sans-serif;
    padding-bottom: 2px;
}

.aboutMe_div:target{
    animation-duration: 2s;
    animation-name: efecto;
}

@keyframes efecto{
    from{
        transform: translateX(390px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}