.aboutMe_div{
    grid-area: aboutMe;
    background-color: rgb(255, 255, 255);
}

.aboutMe_div h1{
    grid-area: about;
    display: inline-block;
    background-color: rgb(92, 138, 255);
    color: rgb(255, 255, 255);
    border-radius: 0px 15px 15px 0px;
    padding-right: 30px;
    padding-left: 4px;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 2px;
    width: 164px;
    height: 36px;
}

.aboutMe_div h1:hover{
    animation-name: efectoh1X;
    animation-duration: 1s;
}

@keyframes efectoh1X{
    0%{transform: translateX(0px);}
    20%{transform: translateX(10px);}
    40%{transform: translateX(0px);}
    60%{transform: translateX(5px);}
    80%{transform: translateX(0px);}
    90%{transform: translateX(2px);}
    100%{transform: translateX(0px);}
}

.aboutMe_div{
    display: grid;
    grid-template-areas: 
    "about about"
    "imagenn imagenn"
    "datos datos"
    "info info ";
    grid-template-columns: 50% 50%;
    grid-template-rows: 8% 22% 55% 15%;
}

.imgMia{
    width: 50%;
    height: 100%;
    align-self: center;
    margin-left: 25%;
    transition: 1s;
}

.imgMia:hover {
    -webkit-transform:rotateX(360deg);
    transform: rotateX(360deg);
}

.imagenn{
    grid-area: imagenn;

}

//ABOUT ME DATOS

.datos{
    grid-area: datos;
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-areas: 
    "nombre birthday"
    "bPlace adress"
    "phone mail";
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}

//NOMBRE Y APELLIDO

.datos_nombre{
    grid-area: nombre;
    text-align: center;
    margin-top: 15%;
    border-bottom: 1px solid black;
}

.datos_nombre h5{
    margin: 0;
}

//NACIMIENTO

.datos_birthday{
    grid-area: birthday;
    text-align: center;
    margin-top: 15%;
    border-bottom: 1px solid black;
}

.datos_birthday h5{
    margin: 0;
}

//LUGAR DE NACIMIENTO

.datos_birthplace{
    grid-area: bPlace;
    text-align: center;
    margin-top: 15%;
    border-bottom: 1px solid black;
}

.datos_birthplace h5{
    margin: 0;
}

//ADRESS

.datos_adress{
    grid-area: adress;
    text-align: center;
    margin-top: 15%;
    border-bottom: 1px solid black;
}

.datos_adress h5{
    margin: 0;
}

//PHONE

.datos_phone{
    grid-area: phone;
    text-align: center;
    margin-top: 15%;
}

.datos_phone h5{
    margin: 0;
}

//MAIL

.datos_mail{
    grid-area: mail;
    text-align: center;
    margin-top: 15%;
}

.datos_mail h5{
    margin: 0;
}

.info{
    text-align: center;
    grid-area: info;
    font-family: 'Roboto Slab', serif;
}