.education_div{
    grid-area: education;
    background-color: rgb(132, 191, 255);
}

.education_div h1{
    display: inline-block;
    background-color: rgb(92, 138, 255);
    color: rgb(255, 255, 255);
    border-radius: 0px 15px 15px 0px;
    padding-right: 30px;
    padding-left: 4px;
    margin-top: 20px;
    font-family: 'Alata', sans-serif;
    padding-bottom: 2px;
}

.education_div h1:hover{
    animation-name: efectoh1X;
    animation-duration: 1s;
}

@keyframes efectoh1X{
    0%{transform: translateX(0px);}
    20%{transform: translateX(10px);}
    40%{transform: translateX(0px);}
    60%{transform: translateX(5px);}
    80%{transform: translateX(0px);}
    90%{transform: translateX(2px);}
    100%{transform: translateX(0px);}
}