// PRESENTACION
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.presentacion{
    width: 100%;
}

.div_imgPresentacion{
    width: 100%;
}

.navBar_div ul {
    list-style: none;
}

.header{
    grid-area: presentacion;
}