.navBar_div{
    grid-area: navb;
    background-color: rgb(92, 138, 255);
}

.navBar_div ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin-bottom: 0%;
}

.navBar_div ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: 1s;
    color: rgb(255, 255, 255);
    font-family: 'Alata', sans-serif;
    padding-bottom: 4px;
}

.navBar_div ul li a:hover{
    padding-bottom: 9px;
}

.navBar_div ul li{
    padding-top: 15px;
    padding-bottom: 15px;
}


