.skills_div{
    grid-area: skills;
    background-color: rgb(232, 243, 255);
    display: grid;
    grid-template-areas: 
    "nada skillsH1"
    "skills skills";
    grid-template-columns: 70% 30%;
    grid-template-rows: 13% 87%;
}

.skills_div h1{
    background-color: rgb(92, 138, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px 0px 0px 15px;
    padding-left: 30px;
    padding-right: 4px;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 2px;
    grid-area: skillsH1;
    float: right;
}

.skills_div h1:hover{
    animation-name: efectoh1X2;
    animation-duration: 1s;
}

@keyframes efectoh1X2{
    0%{transform: translateX(0px);}
    20%{transform: translateX(-10px);}
    40%{transform: translateX(0px);}
    60%{transform: translateX(-5px);}
    80%{transform: translateX(0px);}
    90%{transform: translateX(-2px);}
    100%{transform: translateX(0px);}
}

.skillsBar{
    grid-area: skills;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill{
    margin-bottom: 30px;
}

.skills-name{
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    margin: 20px 0;
}

.skill-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: #36b6fb;
    border-radius: 3px;
    position: relative;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #21ff3e;
    border-radius: 4px;
    font-size: 12px;
    top: -36px;
    right: 0;
    transform: translateX(50%);
}


