* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.presentacion {
  width: 100%;
}

.div_imgPresentacion {
  width: 100%;
}

.navBar_div ul {
  list-style: none;
}

.header {
  grid-area: presentacion;
}

.navBar_div {
  grid-area: navb;
  background-color: rgb(92, 138, 255);
}

.navBar_div ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin-bottom: 0%;
}

.navBar_div ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 1s;
  color: rgb(255, 255, 255);
  font-family: "Alata", sans-serif;
  padding-bottom: 4px;
}

.navBar_div ul li a:hover {
  padding-bottom: 9px;
  font-size: 17px;
}

.navBar_div ul li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.aboutMe_div {
  grid-area: aboutMe;
  background-color: rgb(255, 255, 255);
}

.aboutMe_div h1 {
  display: inline-block;
  background-color: rgb(92, 138, 255);
  color: rgb(255, 255, 255);
  border-radius: 0px 15px 15px 0px;
  padding-right: 30px;
  padding-left: 4px;
  margin-top: 20px;
  font-family: "Alata", sans-serif;
  padding-bottom: 2px;
}

.aboutMe_div h1:hover {
  -webkit-animation-name: efectoh1X;
          animation-name: efectoh1X;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes efectoh1X {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes efectoh1X {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
.skills_div {
  grid-area: skills;
  background-color: rgb(210, 230, 251);
}

.skills_div h1 {
  background-color: rgb(92, 138, 255);
  color: rgb(255, 255, 255);
  border-radius: 15px 0px 0px 15px;
  padding-left: 30px;
  padding-right: 4px;
  margin-top: 20px;
  font-family: "Alata", sans-serif;
  padding-bottom: 2px;
  float: right;
}

.skills_div h1:hover {
  -webkit-animation-name: efectoh1X2;
          animation-name: efectoh1X2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes efectoh1X2 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes efectoh1X2 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}
.education_div {
  grid-area: education;
  background-color: rgb(132, 191, 255);
}

.education_div h1 {
  display: inline-block;
  background-color: rgb(92, 138, 255);
  color: rgb(255, 255, 255);
  border-radius: 0px 15px 15px 0px;
  padding-right: 30px;
  padding-left: 4px;
  margin-top: 20px;
  font-family: "Alata", sans-serif;
  padding-bottom: 2px;
}

.contact_div {
  grid-area: contact;
  background-color: rgb(112, 160, 255);
  text-align: center;
}

.contact_div h1 {
  display: inline-block;
  background-color: rgb(92, 138, 255);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 20px;
  font-family: "Alata", sans-serif;
  padding-bottom: 2px;
}

main {
  display: grid;
  grid-template-areas: "navb" "aboutMe" "skills" "education" "contact";
  grid-template-columns: 100%;
  grid-template-rows: 54px 800px 800px 800px 500px;
}

@-webkit-keyframes efecto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes efecto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=estilos.css.map */